Service References/UserProfileServiceRef/UserProfileService_4130.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ax21="http://dto.model.projectdirector.gs4tr.org/xsd" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:ns="http://impl.services.service.ws.projectdirector.gs4tr.org" targetNamespace="http://impl.services.service.ws.projectdirector.gs4tr.org" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation>UserProfileService_4130</wsdl:documentation>
  <wsdl:documentation>
		In order to append client application name in PD
		log,
		SOAP header has to contain "userAgent" property with client
		application name.
	</wsdl:documentation>
  <wsdl:types>
    <xs:schema xmlns:ax22="http://dto.model.projectdirector.gs4tr.org/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://impl.services.service.ws.projectdirector.gs4tr.org">
      <xs:import schemaLocation="types.xsd" namespace="http://dto.model.projectdirector.gs4tr.org/xsd" />
      <xs:element name="getSubmitters">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="projectShortCode" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="getSubmittersResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="return" nillable="true" type="ax22:UserProfile" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="createUser">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="userInfo" type="ax22:UserInfo" />
            <xs:element name="tiUserInfo" type="ax22:TiUserInfo" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="createUserResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="return" nillable="true" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="getCurrentUserLanguagesResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="return" nillable="true" type="ax22:Language" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="getUserLanguages">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="userTicket" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="getUserLanguagesResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="return" nillable="true" type="ax22:Language" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="findByTicket">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="ticket" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="findByTicketResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="return" nillable="true" type="ax22:UserProfile" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="getSubmittersRequest">
    <wsdl:part name="parameters" element="ns:getSubmitters" />
  </wsdl:message>
  <wsdl:message name="getSubmittersResponse">
    <wsdl:part name="parameters" element="ns:getSubmittersResponse" />
  </wsdl:message>
  <wsdl:message name="createUserRequest">
    <wsdl:part name="parameters" element="ns:createUser" />
  </wsdl:message>
  <wsdl:message name="createUserResponse">
    <wsdl:part name="parameters" element="ns:createUserResponse" />
  </wsdl:message>
  <wsdl:message name="findByTicketRequest">
    <wsdl:part name="parameters" element="ns:findByTicket" />
  </wsdl:message>
  <wsdl:message name="findByTicketResponse">
    <wsdl:part name="parameters" element="ns:findByTicketResponse" />
  </wsdl:message>
  <wsdl:message name="getUserLanguagesRequest">
    <wsdl:part name="parameters" element="ns:getUserLanguages" />
  </wsdl:message>
  <wsdl:message name="getUserLanguagesResponse">
    <wsdl:part name="parameters" element="ns:getUserLanguagesResponse" />
  </wsdl:message>
  <wsdl:message name="getCurrentUserLanguagesRequest" />
  <wsdl:message name="getCurrentUserLanguagesResponse">
    <wsdl:part name="parameters" element="ns:getCurrentUserLanguagesResponse" />
  </wsdl:message>
  <wsdl:portType name="UserProfileServicePortType">
    <wsdl:operation name="getSubmitters">
      <wsdl:input wsaw:Action="urn:getSubmitters" message="ns:getSubmittersRequest" />
      <wsdl:output wsaw:Action="urn:getSubmittersResponse" message="ns:getSubmittersResponse" />
    </wsdl:operation>
    <wsdl:operation name="createUser">
      <wsdl:documentation>Deprecated since 4.5.0</wsdl:documentation>
      <wsdl:input wsaw:Action="urn:createUser" message="ns:createUserRequest" />
      <wsdl:output wsaw:Action="urn:createUserResponse" message="ns:createUserResponse" />
    </wsdl:operation>
    <wsdl:operation name="findByTicket">
      <wsdl:input wsaw:Action="urn:findByTicket" message="ns:findByTicketRequest" />
      <wsdl:output wsaw:Action="urn:findByTicketResponse" message="ns:findByTicketResponse" />
    </wsdl:operation>
    <wsdl:operation name="getUserLanguages">
      <wsdl:input wsaw:Action="urn:getUserLanguages" message="ns:getUserLanguagesRequest" />
      <wsdl:output wsaw:Action="urn:getUserLanguagesResponse" message="ns:getUserLanguagesResponse" />
    </wsdl:operation>
    <wsdl:operation name="getCurrentUserLanguages">
      <wsdl:input wsaw:Action="urn:getCurrentUserLanguages" message="ns:getCurrentUserLanguagesRequest" />
      <wsdl:output wsaw:Action="urn:getCurrentUserLanguagesResponse" message="ns:getCurrentUserLanguagesResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="UserProfileServiceSoap11Binding" type="ns:UserProfileServicePortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getSubmitters">
      <soap:operation soapAction="urn:getSubmitters" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="createUser">
      <soap:operation soapAction="urn:createUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="findByTicket">
      <soap:operation soapAction="urn:findByTicket" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getCurrentUserLanguages">
      <soap:operation soapAction="urn:getCurrentUserLanguages" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getUserLanguages">
      <soap:operation soapAction="urn:getUserLanguages" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="UserProfileServiceSoap12Binding" type="ns:UserProfileServicePortType">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getSubmitters">
      <soap12:operation soapAction="urn:getSubmitters" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="createUser">
      <soap12:operation soapAction="urn:createUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="findByTicket">
      <soap12:operation soapAction="urn:findByTicket" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getCurrentUserLanguages">
      <soap12:operation soapAction="urn:getCurrentUserLanguages" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getUserLanguages">
      <soap12:operation soapAction="urn:getUserLanguages" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="UserProfileServiceHttpBinding" type="ns:UserProfileServicePortType">
    <http:binding verb="POST" />
    <wsdl:operation name="getSubmitters">
      <http:operation location="UserProfileService_4130/getSubmitters" />
      <wsdl:input>
        <mime:content part="getSubmitters" type="text/xml" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="getSubmitters" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="createUser">
      <http:operation location="UserProfileService_4130/createUser" />
      <wsdl:input>
        <mime:content part="createUser" type="text/xml" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="createUser" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="findByTicket">
      <http:operation location="UserProfileService_4130/findByTicket" />
      <wsdl:input>
        <mime:content part="findByTicket" type="text/xml" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="findByTicket" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getCurrentUserLanguages">
      <http:operation location="UserProfileService_4130/getCurrentUserLanguages" />
      <wsdl:input>
        <mime:content part="getCurrentUserLanguages" type="text/xml" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="getCurrentUserLanguages" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getUserLanguages">
      <http:operation location="UserProfileService_4130/getUserLanguages" />
      <wsdl:input>
        <mime:content part="getUserLanguages" type="text/xml" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="getUserLanguages" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="UserProfileService_4130">
    <wsdl:port name="UserProfileServiceHttpSoap11Endpoint" binding="ns:UserProfileServiceSoap11Binding">
      <soap:address location="http://localhost/services/UserProfileService_4130.UserProfileServiceHttpSoap11Endpoint" />
    </wsdl:port>
    <wsdl:port name="UserProfileServiceHttpSoap12Endpoint" binding="ns:UserProfileServiceSoap12Binding">
      <soap12:address location="http://localhost/services/UserProfileService_4130.UserProfileServiceHttpSoap12Endpoint" />
    </wsdl:port>
    <wsdl:port name="UserProfileServiceHttpEndpoint" binding="ns:UserProfileServiceHttpBinding">
      <http:address location="http://localhost/services/UserProfileService_4130.UserProfileServiceHttpEndpoint" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>